@font-face {
    font-family: Title Pixel Font;
    src: url('fonts/Title Pixel Font.ttf');
    font-weight: normal;
}


@font-face {
    font-family: Pixel Font;
    src: url('fonts/Pixel Font.ttf');
    font-weight: normal;
}
